body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    color: salmon;
    font-size: 40px;
}

label{
    color: rgb(255, 145, 0);
    font-size: 35px;
    font-weight: 200;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
}